/* LAYOUT CSS */
.cover {
  background-color: $background-color;
  position: fixed;
  text-align: center;
  width: 100%;
  min-height: 400px;
  padding: 30px 15px 20px;
  z-index: 1;
  @include media-query($small-screen) {
    background-position: center;
    padding: 30px;
  }
  @include media-query($medium-screen) {
    height: 100vh;
    position: initial;
    width: 100%;
  }
}
.cover-card {
  color: $text-color;
  padding: 0 30px;
  .author_avatar {
    position: relative;
    .author_forhire {
        position: absolute;
        display: inline-block;
        top: -32px;
        padding: 2px 4px;
        color: #fff;
        background-color: $danger;
        font-size: 0.8em;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 4px;
        @include media-query($medium-screen) {
            right: 0;
        }
      }
  }
  .avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: none;
    @include media-query($medium-screen) {
      margin-right: 0;
    }
  }
  .author_name {
    @include media-query($medium-screen) {
        position: relative;
        right: -3px;
    }
    display: block;
    margin: auto {
      top: 12px;
    }
    color: $text-color;
    font-size: 1.75em;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 700;
    letter-spacing: .1em;
    opacity: .75;
  }
  .author_job {
    display: block;
    color: $secondary;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    margin: -5px auto 10px;
  }
  .author_bio {
    font-size: 90%;
    display: block;
  }
  @include media-query($medium-screen) {
    text-align: right;
    margin: 0 auto;
    padding: 0 0px 80px;
  }
}
.social-links {
  margin-top: 0.5em;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      margin-left: 1em;
      a.social-link-item {
        color: $primary;
        &:hover,
        &:focus {
          color: $secondary;
        }
      }
    }
  }
}
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  .nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    &:after {
      content: '/';
    }
    &:last-child:after {
      content: '';
    }
    & a {
      margin-top: 1em;
      text-transform: lowercase;
      font-size: 85%;
      color: $primary;
      &:hover,
      &:focus {
        color: $secondary;
      }
    }
  }
}
